---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import SocialMediaIcon from '../components/SocialMediaIcon.astro';

const interests = {
  backend: {
    displayName: 'Backend Development',
    progress: 80,
    color: 'progress-primary',
    values: [
      {
        name: 'TypeScript',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg',
      },
      {
        name: 'C++',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg',
      },
      {
        name: 'Python',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg',
      },
      {
        name: 'NodeJS',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg',
      },
      {
        name: 'ExpressJS',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg',
      },
      {
        name: 'NestJS',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg',
      },
      {
        name: 'AWS',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg',
      },
      {
        name: 'Docker',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg',
      },
    ],
  },
  frontend: {
    displayName: 'Frontend Development',
    progress: 60,
    color: 'progress-primary',
    values: [
      {
        name: 'TypeScript',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg',
      },
      {
        name: 'React',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg',
      },
      {
        name: 'NextJS',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg',
      },
      {
        name: 'Astro',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg',
      },
      {
        name: 'Angular',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg',
      },
    ],
  },
  dataProcessing: {
    displayName: 'Data Processing',
    progress: 20,
    color: 'progress-primary',
    values: [
      {
        name: 'Python',
        svg: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg',
      },
    ],
  },
};
---

<BaseLayout>
  <div class="mt-5 pb-12">
    <div class="flex flex-col-reverse md:flex-row">
      <div id="left-content">
        <div class="text-3xl font-bold">Hi, I'm Jose 👋</div>
        <div class="text-1xl py-1 font-light">
          (Product Developer | Backend Engineer | Full-Stack Engineer)
        </div>
        <div class="py-1 font-semibold">
          <text class="text-1xl">
            Current: Full-Stack Software Engineer @ <a
              href="https://linklive.ai/"
            >
              <u> Linklive.ai </u>
            </a>
          </text>
        </div>
        <div class="py-0 font-bold">
          <text class="text-1xl">
            Previous: Software Engineer @ <a href="https://linklive.ai/">
              <u> Google </u>
            </a>
          </text>
        </div>

        <div class="py-3">
          <div class="mt-2 flex space-x-4">
            <a
              class="btn btn-rectangle rounded-md btn-outline"
              href="./public/Jose_Iciano_Resume.pdf"
              target="_blank"
            >
              Resume</a
            >

            <SocialMediaIcon>
              <a
                href="mailto:icianojn@gmail.com"
                target="_blank"
                referrerpolicy="no-referrer-when-downgrade"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="26"
                  width="26"
                  viewBox="0 0 512 512"
                  ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
                  ></path></svg
                >
              </a>
            </SocialMediaIcon>

            <SocialMediaIcon>
              <a href="
              https://www.linkedin.com/in/joseiciano/">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="26"
                  height="26"
                  viewBox="0 0 448 512"
                  ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                  ></path></svg
                >
              </a>
            </SocialMediaIcon>

            <SocialMediaIcon>
              <a href="https://github.com/joseiciano?tab=repositories">
                <i class="devicon-github-original text-[26px]"></i>
              </a>
            </SocialMediaIcon>

            <SocialMediaIcon>
              <a
                href="https://www.tiktok.com/@anordinarydev"
                target="_blank"
                class="mx-2"
                aria-label="TikTok"
                title="TikTok"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="26"
                  width="26"
                  viewBox="0 0 448 512"
                  ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"
                  ></path></svg
                >
              </a>
            </SocialMediaIcon>
          </div>
        </div>

        <div class="py-2">
          <text class="text-lg">
            <div class="mt-4">
              I'm a Software Engineer with experience working in
              <text class="font-bold">backend</text> and
              <text class="font-bold">full-stack</text> positions. My current interests
              involve gamification, that focus on node-based services, modern web
              frameworks like React and Angular, data processing, and C++ backend
              servers.
            </div>

            <div class="mt-4">
              In my freetime you can find me doing some combination of
              travelling, weightlifting, (trying) to learn new languages, or
              doing some ballroom dance (primarily bachata/salsa).
            </div>

            <div class="mt-4">
              I'm always looking for new and exciting things to try and learn.
              Take some time to look around and learn more about me and my
              interests!
            </div>
          </text>
        </div>
      </div>
      <div id="right-content">
        <div class="w-fit mx-auto mt-5 mb-6">
          <div
            class="avatar transition ease-in-out hover:scale-[102%] block m-auto"
          >
            <div class="w-[20rem] md:w-[9rem]">
              <Image
                class="mask mask-circle"
                format="webp"
                width={300}
                height={300}
                src="/profile.webp"
                alt="Profile image"
              />

              <div
                class="absolute inset-0 rounded-full border-[3px] border-gray-50"
                style="pointer-events: none"
              >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="mb-5">
      <div
        class="text-3xl w-full font-bold mb-2 underline underline-offset-8 decoration-4"
      >
        🚀 My Interests
      </div>
    </div>

    <div class="flex flex-col">
      {
        Object.keys(interests).map(interestKey => {
          return (
            <div class="mb-5">
              <div>
                <text class="font-semibold">
                  {interests[interestKey].displayName}
                </text>
                <span class="font-semibold mx-1">|</span>
                <progress
                  class={`progress w-56 ${interests[interestKey].color}`}
                  value={interests[interestKey].progress}
                  max="100"
                />
              </div>

              <div class="mt-5">
                <ul class="ml-0 sm:ml-8 space-x-3 ">
                  {interests[interestKey].values.map(interest => {
                    return (
                      <li class="float-left mt-3 sm:mt-0">
                        <div class="flex flex-col justify-center items-center">
                          <img height="24" width="24" src={interest.svg} />
                        </div>
                        {interest.name}
                      </li>
                    );
                  })}
                </ul>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</BaseLayout>
